@charset "utf-8";
.top-bottom {
    margin-top: 10px;
    margin-bottom: 10px;
}

ul.display div.row li {
    list-style: none;
}

ul.display div.row li:hover {
    margin-top: -5%;
    margin-bottom: 5%;
}

ul.display div.row img {
    width: auto;
    height: 128px;
    margin-top: 10%;
    margin-bottom: 10%;
}

@media (max-width: 996px) {
    ul.display div.row img {
        width: auto;
        height: 96px;
    }
}

@media (max-width: 768px) {
    ul.display div.row img {
        width: auto;
        height: 72px;
    }
}

@media (max-width: 600px) {
    ul.display div.row img {
        width: 100%;
        height: auto;
    }
}
